name: Lint Go

on:
  push:
    branches:
      - master
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/lint-go.yml"
  pull_request:
    branches:
      - "*"
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/lint-go.yml"

  workflow_dispatch: {}

jobs:
  lint-go:
    permissions:
      contents: read
    uses: capnspacehook/go-workflows/.github/workflows/lint-go.yml@master
