name: Test

on:
  push:
    branches:
      - master
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/test.yml"
  pull_request:
    branches:
      - "*"
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/test.yml"

  workflow_dispatch: {}

jobs:
  test:
    permissions:
      contents: read
    uses: capnspacehook/go-workflows/.github/workflows/test.yml@master
    with:
      fuzz-with-race: true
