name: Vulnerability scan

on:
  push:
    branches:
      - master
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/vuln.yml"
  pull_request:
    branches:
      - "*"
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".github/workflows/vuln.yml"
  schedule:
    - cron: "00 13 * * 1"

  workflow_dispatch: {}

jobs:
  vuln-check:
    permissions:
      contents: read
    uses: capnspacehook/go-workflows/.github/workflows/vuln.yml@master
